In [2]:
from pyspark.sql import SparkSession

spark = SparkSession.builder.getOrCreate()
spark.conf.set("spark.sql.repl.eagerEval.enabled", True) 
# df = spark.read.option('header',True).csv('info5100-hw-assignment/US_Accidents_March23.csv') ##copy full path

In [29]:
from pyspark.sql.functions import year
from pyspark.sql.functions import month
from pyspark.sql.functions import day

from pyspark.sql.functions import udf
from pyspark.sql.types import StringType

In [9]:
df = spark.read.csv('info5100-hw-assignment/US_Accidents_March23.csv', header=True, inferSchema=True)

In [7]:
df.printSchema()

root
 |-- ID: string (nullable = true)
 |-- Source: string (nullable = true)
 |-- Severity: integer (nullable = true)
 |-- Start_Time: timestamp (nullable = true)
 |-- End_Time: timestamp (nullable = true)
 |-- Start_Lat: double (nullable = true)
 |-- Start_Lng: double (nullable = true)
 |-- End_Lat: double (nullable = true)
 |-- End_Lng: double (nullable = true)
 |-- Distance(mi): double (nullable = true)
 |-- Description: string (nullable = true)
 |-- Street: string (nullable = true)
 |-- City: string (nullable = true)
 |-- County: string (nullable = true)
 |-- State: string (nullable = true)
 |-- Zipcode: string (nullable = true)
 |-- Country: string (nullable = true)
 |-- Timezone: string (nullable = true)
 |-- Airport_Code: string (nullable = true)
 |-- Weather_Timestamp: timestamp (nullable = true)
 |-- Temperature(F): double (nullable = true)
 |-- Wind_Chill(F): double (nullable = true)
 |-- Humidity(%): double (nullable = true)
 |-- Pressure(in): double (nullable = true)
 |-- Visibility(mi): double (nullable = true)
 |-- Wind_Direction: string (nullable = true)
 |-- Wind_Speed(mph): double (nullable = true)
 |-- Precipitation(in): double (nullable = true)
 |-- Weather_Condition: string (nullable = true)
 |-- Amenity: boolean (nullable = true)
 |-- Bump: boolean (nullable = true)
 |-- Crossing: boolean (nullable = true)
 |-- Give_Way: boolean (nullable = true)
 |-- Junction: boolean (nullable = true)
 |-- No_Exit: boolean (nullable = true)
 |-- Railway: boolean (nullable = true)
 |-- Roundabout: boolean (nullable = true)
 |-- Station: boolean (nullable = true)
 |-- Stop: boolean (nullable = true)
 |-- Traffic_Calming: boolean (nullable = true)
 |-- Traffic_Signal: boolean (nullable = true)
 |-- Turning_Loop: boolean (nullable = true)
 |-- Sunrise_Sunset: string (nullable = true)
 |-- Civil_Twilight: string (nullable = true)
 |-- Nautical_Twilight: string (nullable = true)
 |-- Astronomical_Twilight: string (nullable = true)

In [35]:
df = df.select('Severity','Start_Time','City','County','State'
            ,'Airport_Code','Temperature(F)','Wind_Chill(F)','Humidity(%)','Visibility(mi)','Weather_Condition'
            ,'Amenity'
            ,'Bump'
            ,'Crossing'
            ,'Give_Way'
            ,'Junction'
            ,'No_Exit'
            ,'Railway'
            ,'Roundabout'
            ,'Stop'
            ,'Traffic_Calming'
            ,'Traffic_Signal'
            ,'Turning_Loop'
            ,'Sunrise_Sunset'
            ,'Civil_Twilight')

In [37]:
df = df.withColumn('Year',year(df['Start_Time']))
df = df.withColumn('Month',month(df['Start_Time']))
df = df.withColumn('day',day(df['Start_Time']))

In [38]:
df.limit(5)

+--------+-------------------+------------+----------+-----+------------+--------------+-------------+-----------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+----+-----+---+
|Severity|         Start_Time|        City|    County|State|Airport_Code|Temperature(F)|Wind_Chill(F)|Humidity(%)|Visibility(mi)|Weather_Condition|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Year|Month|day|
+--------+-------------------+------------+----------+-----+------------+--------------+-------------+-----------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+----+-----+---+
|       3|2016-02-08 05:46:00|      Dayton|Montgomery|   OH|        KFFO|          36.9|         NULL|       91.0|          10.0|       Light Rain|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|2016|    2|  8|
|       2|2016-02-08 06:07:59|Reynoldsburg|  Franklin|   OH|        KCMH|          37.9|         NULL|      100.0|          10.0|       Light Rain|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|         Night|2016|    2|  8|
|       2|2016-02-08 06:49:27|Williamsburg|  Clermont|   OH|        KI69|          36.0|         33.3|      100.0|          10.0|         Overcast|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|          true|       false|         Night|         Night|2016|    2|  8|
|       3|2016-02-08 07:23:34|      Dayton|Montgomery|   OH|        KDAY|          35.1|         31.0|       96.0|           9.0|    Mostly Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|         Night|           Day|2016|    2|  8|
|       2|2016-02-08 07:39:07|      Dayton|Montgomery|   OH|        KMGY|          36.0|         33.3|       89.0|           6.0|    Mostly Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|          true|       false|           Day|           Day|2016|    2|  8|
+--------+-------------------+------------+----------+-----+------------+--------------+-------------+-----------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+----+-----+---+

In [47]:
df.groupby('Severity').agg({'Severity':'count'})

+--------+---------------+
|Severity|count(Severity)|
+--------+---------------+
|       1|          67366|
|       3|        1299337|
|       4|         204710|
|       2|        6156981|
+--------+---------------+

In [48]:
df.write.csv("output.csv", header=True, mode="overwrite")

In [49]:
ls

info5100-hw-assignment/  output.csv/  Untitled.ipynb  untitled.py  work/

In [64]:
df.where(df.City =='Ithaca').count()

18

In [69]:
nydf = df.where(df.State=='NY')

In [66]:
nydf.limit(5)

+--------+-------------------+---------------+----------+-----+------------+--------------+-------------+-----------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+----+-----+---+
|Severity|         Start_Time|           City|    County|State|Airport_Code|Temperature(F)|Wind_Chill(F)|Humidity(%)|Visibility(mi)|Weather_Condition|Amenity| Bump|Crossing|Give_Way|Junction|No_Exit|Railway|Roundabout|Station| Stop|Traffic_Calming|Traffic_Signal|Turning_Loop|Sunrise_Sunset|Civil_Twilight|Year|Month|day|
+--------+-------------------+---------------+----------+-----+------------+--------------+-------------+-----------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+----+-----+---+
|       2|2020-12-31 10:47:49|       Lockport|   Niagara|   NY|        KIAG|          32.0|         23.0|       64.0|          10.0|           Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|2020|   12| 31|
|       2|2020-12-31 13:24:43|North Tonawanda|   Niagara|   NY|        KIAG|          34.0|         27.0|       67.0|          10.0|           Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|          true|       false|           Day|           Day|2020|   12| 31|
|       3|2020-12-31 13:29:34|   Silver Creek|Chautauqua|   NY|        KDKK|          37.0|         30.0|       54.0|          10.0|             Fair|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|2020|   12| 31|
|       2|2020-12-31 10:56:46|       Red Hook|  Dutchess|   NY|        KPOU|          42.0|         38.0|       79.0|          10.0|           Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false|false|          false|         false|       false|           Day|           Day|2020|   12| 31|
|       2|2020-12-31 05:13:53|       Mayfield|    Fulton|   NY|        KSCH|          36.0|         30.0|       87.0|          15.0|           Cloudy|  false|false|   false|   false|   false|  false|  false|     false|  false| true|          false|         false|       false|         Night|         Night|2020|   12| 31|
+--------+-------------------+---------------+----------+-----+------------+--------------+-------------+-----------+--------------+-----------------+-------+-----+--------+--------+--------+-------+-------+----------+-------+-----+---------------+--------------+------------+--------------+--------------+----+-----+---+

In [70]:
nydf.write.csv('nytraffic.csv')

In [71]:
nydf.select('County').distinct()

+------------+
|      County|
+------------+
|      Cayuga|
|      Ulster|
|       Kings|
|      Monroe|
|      Queens|
|      Oneida|
|      Orange|
|     Steuben|
|      Otsego|
|  Montgomery|
|    Tompkins|
|      Albany|
|      Fulton|
|     Genesee|
|    Rockland|
|    Saratoga|
|    Sullivan|
|St. Lawrence|
|  Washington|
|     Madison|
+------------+
only showing top 20 rows

In [80]:
nycdf = nydf.filter((nydf.County=='New York') | (nydf.County=='Kings')\
             | (nydf.County=='Bronx') | (nydf.County=='Richmond') | (nydf.County=='Queens'))

In [82]:
nycdf.count()

27839

In [100]:
nycdf.write.csv('nyvdf.csv',header = True,mode="overwrite")

In [86]:
import pandas as pd
import os 
print(os.getcwd()+'/nyvdf.csv')

/home/jovyan/nyvdf.csv

In [105]:
dataset = []
for filename in os.listdir('/home/jovyan/nyvdf.csv'):
    if filename.startswith('p'):
        # print(pd.read_csv('/home/jovyan/nyvdf.csv/' + filename).shape)
        dataset.append(pd.read_csv('/home/jovyan/nyvdf.csv/' + filename))

In [292]:
nycdf.columns

Index(['Severity', 'Start_Time', 'City', 'County', 'State', 'Airport_Code',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Visibility(mi)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Year', 'Month', 'day'],
      dtype='object')

In [290]:
def get_groupby(columns):
    severity = ['Severity']
    severity.extend(columns)
    return nycdf.groupby(by=severity)

In [335]:
nycdf['safty_score'] = nycdf[gp_dict['Location']].sum(axis=1)

In [291]:

gps_weather = nycdf.groupby(by=['Severity','Weather_Condition'])
gps = nycdf.groupby(by=['Severity'])
gps_month = nycdf.groupby(by=['Severity','Month'])

weather_considiton = get_groupby(gp_dict['weather_con']+['Month'])[['Severity']].count().unstack(1,fill_value=0) ## weather is hard to analyze cause we do not know the weather pattern looks like

In [261]:
severity = ['Severity']
# severity.extend(gp_dict['weather'])
severity.extend(gp_dict['weather_con'])
severity

['Severity', 'Weather_Condition']

In [216]:
col_names = nycdf.columns
case_len = nycdf.shape[0]

In [336]:
#traffic reminder
location = ['Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop']
railway = ['Railway']
weather = ['Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Visibility(mi)']
day_light = ['Sunrise_Sunset',
             'Civil_Twilight']
gp_dict = {'weather_metric':weather,'weather_con':['Weather_Condition'],'Year':'Year',
           'Railway':railway,'Location':location,'region':['City','County'],'light':day_light}

In [351]:
print('overall severity ratio')
print(gps[severity].count()[['Severity']]/case_len)

blresult = get_groupby(gp_dict['Location']+gp_dict['Railway']).count().iloc[:,1].reset_index().set_index(['Severity','Railway'])[location]
blresult['agg_result'] = blresult.sum(axis=1)
blresult.reset_index()
agg_result_serve = blresult.groupby(['Severity','Railway','agg_result']).count()[['Stop']].unstack(fill_value=0)
print('actual number')
print(agg_result_serve)
print('agg_result_serve')
agg_result_serve.div(agg_result_serve.sum(axis=0),axis=1)

overall severity ratio
          Severity
Severity
1         0.000970
2         0.575919
3         0.385574
4         0.037537
actual number
                 Stop
agg_result          0  1   2   3   4  5  6
Severity Railway
1        False      1  3   1   1   1  0  0
         True       0  1   0   0   1  0  0
2        False      1  9  30  28  16  5  1
         True       1  5   9   9   3  2  0
3        False      1  9  21  16   8  0  0
         True       1  3   5   4   1  2  0
4        False      1  8  17  12   2  0  0
         True       1  2   3   5   1  0  0
agg_result_serve

                      Stop
agg_result               0      1         2         3         4         5    6
Severity Railway
1        False    0.142857  0.075  0.011628  0.013333  0.030303  0.000000  0.0
         True     0.000000  0.025  0.000000  0.000000  0.030303  0.000000  0.0
2        False    0.142857  0.225  0.348837  0.373333  0.484848  0.555556  1.0
         True     0.142857  0.125  0.104651  0.120000  0.090909  0.222222  0.0
3        False    0.142857  0.225  0.244186  0.213333  0.242424  0.000000  0.0
         True     0.142857  0.075  0.058140  0.053333  0.030303  0.222222  0.0
4        False    0.142857  0.200  0.197674  0.160000  0.060606  0.000000  0.0
         True     0.142857  0.050  0.034884  0.066667  0.030303  0.000000  0.0

In [332]:
get_groupby(gp_dict['region']+gp_dict['region']).count().iloc[:,1]

Severity  City                 County
1         Bronx                Bronx        6
          Brooklyn             Kings        1
          Cambria Heights      Queens       4
          Corona               Queens       4
          Flushing             Queens       1
                                           ..
4         Springfield Gardens  Queens       6
          Staten Island        Richmond    39
          Whitestone           Queens       5
          Woodhaven            Queens       2
          Woodside             Queens       8
Name: State, Length: 149, dtype: int64

In [245]:
gps[severity].count()[['Severity']]/case_len

          Severity
Severity
1         0.000970
2         0.575919
3         0.385574
4         0.037537

In [248]:
gps[severity].mean()
severity_count_by_month = gps_month[severity].count()[['Severity']].unstack(0,fill_value=0)

In [244]:
print('overall severity ratio')
print(gps[severity].count()[['Severity']]/case_len)
print('severity count by month')
print(severity_count_by_month.sum(axis=1))
severity_percentage = severity_count_by_month.div(severity_count_by_month.sum(axis=1), axis=0)
print('severity ratio by month')
print(severity_percentage)

overall severity ratio
          Severity
Severity
1         0.000970
2         0.575919
3         0.385574
4         0.037537
severity count by month
Month
1     1759
2     2384
3     1789
4     2488
5     2694
6     2331
7     1588
8     1495
9     2486
10    2865
11    2939
12    3021
dtype: int64
severity ratio by month
          Severity
Severity         1         2         3         4
Month
1         0.000000  0.480387  0.491757  0.027857
2         0.000000  0.606124  0.376258  0.017617
3         0.000000  0.437116  0.519285  0.043600
4         0.004019  0.470659  0.444936  0.080386
5         0.002970  0.451373  0.466592  0.079065
6         0.003432  0.363363  0.519949  0.113256
7         0.000000  0.484257  0.499370  0.016373
8         0.000000  0.456856  0.526421  0.016722
9         0.000000  0.692679  0.292438  0.014883
10        0.000000  0.731588  0.256195  0.012216
11        0.000340  0.735624  0.255189  0.008847
12        0.000000  0.759682  0.223767  0.016551

In [236]:
severity_percentage

          Severity
Severity         1         2         3         4
Month
1         0.000000  0.480387  0.491757  0.027857
2         0.000000  0.606124  0.376258  0.017617
3         0.000000  0.437116  0.519285  0.043600
4         0.004019  0.470659  0.444936  0.080386
5         0.002970  0.451373  0.466592  0.079065
6         0.003432  0.363363  0.519949  0.113256
7         0.000000  0.484257  0.499370  0.016373
8         0.000000  0.456856  0.526421  0.016722
9         0.000000  0.692679  0.292438  0.014883
10        0.000000  0.731588  0.256195  0.012216
11        0.000340  0.735624  0.255189  0.008847
12        0.000000  0.759682  0.223767  0.016551

In [256]:
header

Index(['Severity', 'Start_Time', 'City', 'County', 'State', 'Airport_Code',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Visibility(mi)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Year', 'Month', 'day'],
      dtype='object')

In [122]:
header = dataset[0].columns
nycdf = pd.concat([dataset[i] for i in range(len(dataset))])

In [143]:
nycdf['Weather_Condition'].unique()

array(['Mostly Cloudy', 'Fair', 'Cloudy', 'Light Rain / Windy',
       'Fair / Windy', 'Partly Cloudy', 'Light Rain', nan, 'Fog',
       'Light Snow / Windy', 'Cloudy / Windy', 'Light Snow', 'Heavy Rain',
       'Snow', 'Mostly Cloudy / Windy', 'Rain / Windy',
       'Partly Cloudy / Windy', 'Rain', 'Drizzle', 'Light Drizzle',
       'Snow / Windy', 'Haze', 'Snow and Sleet', 'Haze / Windy',
       'Snow and Sleet / Windy', 'Light Drizzle / Windy',
       'T-Storm / Windy', 'Wintry Mix', 'Drizzle and Fog', 'Fog / Windy',
       'Scattered Clouds', 'Clear', 'Overcast', 'Ice Pellets',
       'Light Freezing Rain', 'Light Freezing Drizzle',
       'Light Ice Pellets', 'Patches of Fog', 'Patches of Fog / Windy',
       'Thunder', 'Heavy Rain / Windy', 'T-Storm',
       'Light Rain with Thunder', 'Thunder in the Vicinity',
       'Heavy T-Storm', 'Heavy Drizzle', 'Mist', 'Heavy T-Storm / Windy',
       'Squalls / Windy', 'Light Snow and Sleet', 'Shallow Fog'],
      dtype=object)

In [145]:
nycdf['Weather_Condition'].shape

(27839,)

In [124]:
dataset[0].columns

Index(['Severity', 'Start_Time', 'City', 'County', 'State', 'Airport_Code',
       'Temperature(F)', 'Wind_Chill(F)', 'Humidity(%)', 'Visibility(mi)',
       'Weather_Condition', 'Amenity', 'Bump', 'Crossing', 'Give_Way',
       'Junction', 'No_Exit', 'Railway', 'Roundabout', 'Station', 'Stop',
       'Traffic_Calming', 'Traffic_Signal', 'Turning_Loop', 'Sunrise_Sunset',
       'Civil_Twilight', 'Year', 'Month', 'day'],
      dtype='object')

In [95]:
header = 
nycdf = pd.DataFrame()

[      2  2019-04-03T11:05:54.000Z          Woodside    Queens  NY  KLGA  54.0  \
 0     2  2019-04-03T10:02:09.000Z             Bronx     Bronx  NY  KLGA  49.0
 1     2  2019-04-03T11:38:09.000Z           Jamaica    Queens  NY  KJFK  56.0
 2     2  2019-04-03T13:23:09.000Z        Whitestone    Queens  NY  KLGA  63.0
 3     2  2019-04-03T16:07:23.000Z  South Ozone Park    Queens  NY  KJFK  65.0
 4     2  2019-04-03T16:29:56.000Z          Brooklyn     Kings  NY  KJRB  67.0
 ...  ..                       ...               ...       ...  ..   ...   ...
 1453  2  2019-08-23T14:00:27.000Z     Staten Island  Richmond  NY  KEWR  72.0
 1454  2  2019-08-23T17:03:32.000Z         Rego Park    Queens  NY  KLGA  75.0
 1455  2  2019-08-23T16:48:32.000Z          Elmhurst    Queens  NY  KLGA  75.0
 1456  2  2019-08-23T19:20:28.000Z     Staten Island  Richmond  NY  KEWR  75.0
 1457  2  2019-08-23T17:51:33.000Z      Forest Hills    Queens  NY  KLGA  75.0

       54.0.1  33.0  10.0  ... false.8  false.9  false.10  false.11  false.12  \
 0       44.0  44.0  10.0  ...   False    False     False      True     False
 1       56.0  47.0  10.0  ...   False    False     False     False     False
 2       63.0  22.0  10.0  ...   False    False     False     False     False
 3       65.0  24.0  10.0  ...   False    False     False     False     False
 4       67.0  16.0  10.0  ...   False    False     False     False     False
 ...      ...   ...   ...  ...     ...      ...       ...       ...       ...
 1453    72.0  64.0  10.0  ...   False    False     False     False     False
 1454    75.0  51.0  10.0  ...   False    False     False     False     False
 1455    75.0  51.0  10.0  ...   False    False     False     False     False
 1456    75.0  57.0  10.0  ...   False    False     False     False     False
 1457    75.0  51.0  10.0  ...   False    False     False     False     False

       Day  Day.1  2019  4   3
 0     Day    Day  2019  4   3
 1     Day    Day  2019  4   3
 2     Day    Day  2019  4   3
 3     Day    Day  2019  4   3
 4     Day    Day  2019  4   3
 ...   ...    ...   ... ..  ..
 1453  Day    Day  2019  8  23
 1454  Day    Day  2019  8  23
 1455  Day    Day  2019  8  23
 1456  Day    Day  2019  8  23
 1457  Day    Day  2019  8  23

 [1458 rows x 29 columns],
       2  2020-03-24T01:56:31.000Z   Forest Hills    Queens  NY  KLGA  39.0  \
 0     2  2020-03-24T01:56:31.000Z   Forest Hills    Queens  NY  KLGA  39.0
 1     3  2020-03-24T07:03:30.000Z  Staten Island  Richmond  NY  KEWR  39.0
 2     2  2020-03-24T07:57:19.000Z  Staten Island  Richmond  NY  KEWR  41.0
 3     4  2020-03-24T08:31:25.000Z        Maspeth    Queens  NY  KLGA  41.0
 4     4  2020-03-24T07:58:36.000Z        Maspeth    Queens  NY  KLGA  39.0
 ...  ..                       ...            ...       ...  ..   ...   ...
 3143  2  2019-01-29T08:17:21.000Z  Fresh Meadows    Queens  NY  KLGA  30.0
 3144  2  2019-01-29T08:52:14.000Z       Brooklyn     Kings  NY  KJRB  33.1
 3145  2  2019-01-29T09:25:58.000Z       New York  New York  NY  KNYC  34.0
 3146  2  2019-01-29T14:43:13.000Z      Rego Park    Queens  NY  KLGA  42.1
 3147  2  2019-01-29T16:53:00.000Z          Bronx     Bronx  NY  KLGA  43.0

       31.0  76.0  10.0  ... false.8  false.9  false.10  false.11  false.12  \
 0     31.0  76.0  10.0  ...   False    False     False     False     False
 1     33.0  79.0  10.0  ...   False    False     False     False     False
 2     35.0  73.0  10.0  ...   False    False     False     False     False
 3     33.0  70.0  10.0  ...   False    False     False      True     False
 4     32.0  76.0  10.0  ...   False    False     False      True     False
 ...    ...   ...   ...  ...     ...      ...       ...       ...       ...
 3143  22.4  72.0  10.0  ...   False    False     False     False     False
 3144  26.9  78.0  10.0  ...   False    False     False      True     False
 3145   NaN  73.0  10.0  ...   False    False     False      True     False
 3146  35.2  76.0  10.0  ...   False    False     False     False     False
 3147  36.4  80.0  10.0  ...   False    False     False     False     False

       Night  Night.1  2020  3  24
 0     Night    Night  2020  3  24
 1       Day      Day  2020  3  24
 2       Day      Day  2020  3  24
 3       Day      Day  2020  3  24
 4       Day      Day  2020  3  24
 ...     ...      ...   ... ..  ..
 3143    Day      Day  2019  1  29
 3144    Day      Day  2019  1  29
 3145    Day      Day  2019  1  29
 3146    Day      Day  2019  1  29
 3147    Day      Day  2019  1  29

 [3148 rows x 29 columns],
       3  2020-12-30T23:58:29.000Z     Brooklyn     Kings  NY  KJRB  43.0  \
 0     3  2020-12-30T23:59:52.000Z     Brooklyn     Kings  NY  KJRB  43.0
 1     3  2020-12-30T23:31:42.000Z        Bronx     Bronx  NY  KLGA  45.0
 2     3  2020-12-31T06:59:36.000Z  Little Neck    Queens  NY  KLGA  50.0
 3     2  2020-12-31T07:13:00.000Z     Brooklyn     Kings  NY  KJRB  46.0
 4     2  2020-12-31T07:55:03.000Z     Brooklyn     Kings  NY  KJRB  45.0
 ...  ..                       ...          ...       ...  ..   ...   ...
 2994  3  2020-08-22T18:51:35.000Z   Whitestone    Queens  NY  KLGA  87.0
 2995  3  2020-08-22T19:14:25.000Z     Elmhurst    Queens  NY  KLGA  87.0
 2996  2  2020-08-22T19:32:21.000Z     New York  New York  NY  KNYC  81.0
 2997  3  2020-08-22T20:25:16.000Z        Bronx     Bronx  NY  KLGA  85.0
 2998  2  2020-08-22T22:00:47.000Z     New York  New York  NY  KNYC  80.0

       38.0  58.0  10.0  ... false.8  false.9  false.10  false.11  false.12  \
 0     38.0  58.0  10.0  ...   False    False     False     False     False
 1     39.0  52.0  10.0  ...   False    False     False     False     False
 2     50.0  77.0   8.0  ...   False    False     False     False     False
 3     43.0  89.0   2.0  ...    True    False     False      True     False
 4     42.0  97.0   3.0  ...   False    False     False     False     False
 ...    ...   ...   ...  ...     ...      ...       ...       ...       ...
 2994  87.0  44.0  10.0  ...   False    False     False     False     False
 2995  87.0  44.0  10.0  ...   False    False     False     False     False
 2996  81.0  60.0  10.0  ...   False    False     False     False     False
 2997  85.0  53.0  10.0  ...   False    False     False     False     False
 2998  80.0  67.0  10.0  ...   False    False     False     False     False

       Night  Night.1  2020  12  30
 0     Night    Night  2020  12  30
 1     Night    Night  2020  12  30
 2     Night      Day  2020  12  31
 3     Night      Day  2020  12  31
 4       Day      Day  2020  12  31
 ...     ...      ...   ...  ..  ..
 2994    Day      Day  2020   8  22
 2995    Day      Day  2020   8  22
 2996    Day      Day  2020   8  22
 2997  Night    Night  2020   8  22
 2998  Night    Night  2020   8  22

 [2999 rows x 29 columns],
       3  2019-04-04T04:13:39.000Z              Jamaica  Queens  NY  KJFK  \
 0     3  2019-04-04T05:33:01.000Z          Little Neck  Queens  NY  KLGA
 1     2  2019-04-04T05:50:43.000Z             Brooklyn   Kings  NY  KJFK
 2     3  2019-04-04T05:56:54.000Z                Bronx   Bronx  NY  KLGA
 3     3  2019-04-04T06:08:39.000Z                Bronx   Bronx  NY  KLGA
 4     2  2019-04-04T06:15:25.000Z                Bronx   Bronx  NY  KLGA
 ...  ..                       ...                  ...     ...  ..   ...
 2963  2  2019-01-30T09:31:34.000Z           Whitestone  Queens  NY  KLGA
 2964  2  2019-01-30T11:14:38.000Z                Bronx   Bronx  NY  KLGA
 2965  2  2019-01-30T11:57:13.000Z  Springfield Gardens  Queens  NY  KJFK
 2966  3  2019-01-30T14:04:46.000Z              Jamaica  Queens  NY  KJFK
 2967  3  2019-01-30T20:51:17.000Z                Bronx   Bronx  NY  KLGA

       48.0  43.0  29.0  10.0  ... false.8  false.9  false.10  false.11  \
 0     45.0  40.0  34.0  10.0  ...   False    False     False     False
 1     45.0  39.0  34.0  10.0  ...   False    False     False     False
 2     45.0  40.0  34.0  10.0  ...   False    False     False     False
 3     45.0  40.0  34.0  10.0  ...   False    False     False     False
 4     45.0  40.0  34.0  10.0  ...   False    False     False     False
 ...    ...   ...   ...   ...  ...     ...      ...       ...       ...
 2963  24.1  13.7  35.0  10.0  ...   False     True     False     False
 2964  27.0  16.7  33.0  10.0  ...    True    False     False      True
 2965  27.0  16.7  45.0  10.0  ...    True    False     False      True
 2966  32.0  19.8  52.0  10.0  ...   False    False     False     False
 2967  10.9  -7.9  37.0  10.0  ...   False    False     False     False

       false.12  Night  Night.1  2019  4  4.1
 0        False  Night    Night  2019  4    4
 1        False  Night    Night  2019  4    4
 2        False  Night    Night  2019  4    4
 3        False  Night      Day  2019  4    4
 4        False  Night      Day  2019  4    4
 ...        ...    ...      ...   ... ..  ...
 2963     False    Day      Day  2019  1   30
 2964     False    Day      Day  2019  1   30
 2965     False    Day      Day  2019  1   30
 2966     False    Day      Day  2019  1   30
 2967     False  Night    Night  2019  1   30

 [2968 rows x 29 columns],
       2  2020-12-16T13:52:30.000Z  Brooklyn     Kings  NY  KJRB  30.0  21.0  \
 0     2  2020-10-29T15:13:00.000Z  New York  New York  NY  KNYC  50.0  50.0
 1     2  2020-11-20T13:46:00.000Z  New York  New York  NY  KNYC  61.0   NaN
 2     2  2020-10-08T12:34:30.000Z  New York  New York  NY  KNYC  63.0  63.0
 3     2  2020-10-07T13:58:00.000Z  New York  New York  NY  KNYC  72.0  72.0
 4     2  2020-09-11T14:24:00.000Z  New York  New York  NY  KNYC  74.0  74.0
 ...  ..                       ...       ...       ...  ..   ...   ...   ...
 4570  3  2020-03-23T22:38:06.000Z  Woodside    Queens  NY  KLGA  39.0  32.0
 4571  3  2020-03-23T21:36:52.000Z  Woodside    Queens  NY  KLGA  39.0  31.0
 4572  3  2020-03-23T23:39:09.000Z  Woodside    Queens  NY  KLGA  39.0  31.0
 4573  3  2020-03-24T00:15:22.000Z  New York  New York  NY  KNYC  37.0  31.0
 4574  3  2020-03-24T00:42:00.000Z  Woodside    Queens  NY  KLGA  39.0  31.0

       51.0  10.0  ... false.8  false.9  false.10  false.11  false.12    Day  \
 0     93.0   3.0  ...   False    False     False      True     False    Day
 1     35.0  10.0  ...   False    False     False     False     False    Day
 2     41.0  10.0  ...   False    False     False     False     False    Day
 3     44.0  10.0  ...   False    False     False      True     False    Day
 4     59.0  10.0  ...   False    False     False     False     False    Day
 ...    ...   ...  ...     ...      ...       ...       ...       ...    ...
 4570  79.0  10.0  ...   False    False     False     False     False  Night
 4571  82.0  10.0  ...   False    False     False     False     False  Night
 4572  79.0  10.0  ...   False    False     False     False     False  Night
 4573  86.0  10.0  ...   False    False     False     False     False  Night
 4574  76.0  10.0  ...   False    False     False     False     False  Night

       Day.1  2020  12  16
 0       Day  2020  10  29
 1       Day  2020  11  20
 2       Day  2020  10   8
 3       Day  2020  10   7
 4       Day  2020   9  11
 ...     ...   ...  ..  ..
 4570  Night  2020   3  23
 4571  Night  2020   3  23
 4572  Night  2020   3  23
 4573  Night  2020   3  24
 4574  Night  2020   3  24

 [4575 rows x 29 columns],
 Empty DataFrame
 Columns: [2, 2020-12-31T23:52:38.000Z, New York, New York.1, NY, KJRB, 36.0, 36.0.1, 59.0, 10.0, Fair, false, false.1, false.2, false.3, false.4, false.5, false.6, false.7, false.8, false.9, false.10, false.11, false.12, Night, Night.1, 2020, 12, 31]
 Index: []

 [0 rows x 29 columns],
       3  2020-08-23T06:06:12.000Z  Brooklyn     Kings  NY  KNYC  75.0  75.0.1  \
 0     3  2020-08-23T08:36:20.000Z     Bronx     Bronx  NY  KLGA  79.0    79.0
 1     3  2020-08-23T10:00:05.000Z     Bronx     Bronx  NY  KLGA  80.0    80.0
 2     2  2020-08-23T10:05:28.000Z  New York  New York  NY  KJRB  78.0    78.0
 3     3  2020-08-23T11:12:10.000Z     Bronx     Bronx  NY  KLGA  83.0    83.0
 4     3  2020-08-23T11:47:35.000Z  New York  New York  NY  KNYC  80.0    80.0
 ...  ..                       ...       ...       ...  ..   ...   ...     ...
 4506  2  2019-10-31T14:06:06.000Z  Brooklyn     Kings  NY  KJRB  69.0    69.0
 4507  2  2019-10-31T17:02:05.000Z  Brooklyn     Kings  NY  KJRB  69.0    69.0
 4508  3  2019-10-31T17:46:25.000Z     Bronx     Bronx  NY  KLGA  66.0    66.0
 4509  2  2019-10-31T19:25:42.000Z  Brooklyn     Kings  NY  KJFK  66.0    66.0
 4510  2  2019-10-31T20:43:21.000Z  New York  New York  NY  KNYC  69.0    69.0

        79.0  10.0  ... false.6  false.7  false.8  true.2  false.9  Night  \
 0      69.0  10.0  ...   False    False    False   False    False    Day
 1      67.0  10.0  ...   False    False    False   False    False    Day
 2      76.0  10.0  ...   False    False    False   False    False    Day
 3      65.0  10.0  ...   False    False    False   False    False    Day
 4      74.0  10.0  ...   False    False    False   False    False    Day
 ...     ...   ...  ...     ...      ...      ...     ...      ...    ...
 4506   90.0   8.0  ...   False     True    False   False    False    Day
 4507   90.0  10.0  ...   False    False    False   False    False    Day
 4508   93.0   7.0  ...   False    False    False   False    False    Day
 4509  100.0   1.0  ...   False    False    False   False    False  Night
 4510   87.0  10.0  ...   False    False    False   False    False  Night

         Day  2020   8  23
 0       Day  2020   8  23
 1       Day  2020   8  23
 2       Day  2020   8  23
 3       Day  2020   8  23
 4       Day  2020   8  23
 ...     ...   ...  ..  ..
 4506    Day  2019  10  31
 4507    Day  2019  10  31
 4508    Day  2019  10  31
 4509  Night  2019  10  31
 4510  Night  2019  10  31

 [4511 rows x 29 columns],
       2  2020-09-25T23:19:55.000Z     Bronx   Bronx.1  NY  KLGA  70.0  70.0.1  \
 0     2  2020-10-15T12:17:30.000Z     Bronx     Bronx  NY  KLGA  71.0    71.0
 1     2  2020-09-30T12:50:00.000Z  New York  New York  NY  KNYC  66.0    66.0
 2     2  2020-11-10T10:43:00.000Z  Flushing    Queens  NY  KLGA  70.0    70.0
 3     2  2020-10-01T10:50:30.000Z  Brooklyn     Kings  NY  KJRB  67.0    67.0
 4     2  2020-12-12T02:07:10.000Z   Jamaica    Queens  NY  KJFK  43.0    40.0
 ...  ..                       ...       ...       ...  ..   ...   ...     ...
 2636  2  2020-11-22T03:18:02.000Z     Bronx     Bronx  NY  KLGA  46.0    41.0
 2637  2  2020-11-30T12:02:36.000Z  Brooklyn     Kings  NY  KJRB  60.0     NaN
 2638  2  2020-12-29T18:08:30.000Z  New York  New York  NY  KNYC  35.0    31.0
 2639  2  2020-11-16T13:46:30.000Z  New York  New York  NY  KNYC  53.0    53.0
 2640  2  2020-09-10T17:44:02.000Z  Brooklyn     Kings  NY  KJFK  77.0    77.0

       76.0  10.0  ... false.7  false.8  false.9  false.10  false.11  Night  \
 0     51.0  10.0  ...   False     True    False     False     False    Day
 1     52.0  10.0  ...   False    False    False      True     False    Day
 2     61.0  10.0  ...   False    False    False     False     False    Day
 3     59.0  10.0  ...   False    False    False     False     False    Day
 4     97.0  10.0  ...   False    False    False     False     False  Night
 ...    ...   ...  ...     ...      ...      ...       ...       ...    ...
 2636  51.0  10.0  ...   False    False    False     False     False  Night
 2637  90.0   3.0  ...   False    False    False      True     False    Day
 2638  37.0  10.0  ...    True    False    False      True     False  Night
 2639  35.0  10.0  ...   False    False    False     False     False    Day
 2640  89.0  10.0  ...   False     True     True     False     False    Day

       Night.1  2020   9  25
 0         Day  2020  10  15
 1         Day  2020   9  30
 2         Day  2020  11  10
 3         Day  2020  10   1
 4       Night  2020  12  12
 ...       ...   ...  ..  ..
 2636    Night  2020  11  22
 2637      Day  2020  11  30
 2638    Night  2020  12  29
 2639      Day  2020  11  16
 2640      Day  2020   9  10

 [2641 rows x 29 columns],
       3  2019-11-01T04:40:38.000Z          Jamaica    Queens  NY  KJFK  49.0  \
 0     2  2019-11-01T04:45:35.000Z    Staten Island  Richmond  NY  KLDJ  47.0
 1     2  2019-11-01T05:06:34.000Z    Staten Island  Richmond  NY  KLDJ  46.0
 2     2  2019-11-01T05:20:32.000Z         Brooklyn     Kings  NY  KJRB  49.0
 3     2  2019-11-01T05:33:35.000Z    Richmond Hill    Queens  NY  KJFK  48.0
 4     2  2019-11-01T05:57:03.000Z         Brooklyn     Kings  NY  KJRB  47.0
 ...  ..                       ...              ...       ...  ..   ...   ...
 5525  3  2019-04-03T19:16:40.000Z  Oakland Gardens    Queens  NY  KLGA  64.0
 5526  3  2019-04-03T19:18:38.000Z      Little Neck    Queens  NY  KLGA  64.0
 5527  2  2019-04-03T19:45:48.000Z         Brooklyn     Kings  NY  KJRB  63.0
 5528  2  2019-04-03T20:25:47.000Z         Brooklyn     Kings  NY  KJRB  62.0
 5529  3  2019-04-03T23:20:31.000Z            Bronx     Bronx  NY  KLGA  53.0

       40.0  64.0  10.0  ... false.8  false.9  false.10  false.11  false.12  \
 0     40.0  62.0  10.0  ...   False     True     False     False     False
 1     39.0  57.0  10.0  ...    True    False     False      True     False
 2     44.0  64.0  10.0  ...   False    False     False     False     False
 3     40.0  58.0  10.0  ...   False    False     False     False     False
 4     41.0  54.0  10.0  ...   False    False     False     False     False
 ...    ...   ...   ...  ...     ...      ...       ...       ...       ...
 5525  64.0  15.0  10.0  ...   False    False     False     False     False
 5526  64.0  15.0  10.0  ...   False    False     False     False     False
 5527  63.0  14.0  10.0  ...   False     True     False     False     False
 5528  62.0  15.0  10.0  ...   False    False     False      True     False
 5529  53.0  22.0  10.0  ...   False    False     False      True     False

       Night  Night.1  2019  11  1
 0     Night    Night  2019  11  1
 1     Night    Night  2019  11  1
 2     Night    Night  2019  11  1
 3     Night    Night  2019  11  1
 4     Night    Night  2019  11  1
 ...     ...      ...   ...  .. ..
 5525    Day      Day  2019   4  3
 5526    Day      Day  2019   4  3
 5527  Night      Day  2019   4  3
 5528  Night    Night  2019   4  3
 5529  Night    Night  2019   4  3

 [5530 rows x 29 columns]]