In [13]:
import pandas as pd
import csv
import json

In [14]:
def set_float_point():
    return pd.set_option('display.float_format', '{:.2f}'.format)

set_float_point()

In [15]:

# 读取 CSV 文件
csv_file = 'ass1_dataset.csv'
json_file = 'ass1_dataset.json'

df = pd.read_csv(csv_file,encoding='ISO-8859-1')
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [16]:
df.describe()

,rank,subscribers,video views,uploads,video_views_rank,country_rank,channel_type_rank,video_views_for_the_last_30_days,lowest_monthly_earnings,highest_monthly_earnings,...,highest_yearly_earnings,subscribers_for_last_30_days,created_year,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
count,995.00,995.00,995.00,995.00,994.00,879.00,962.00,939.00,995.00,995.00,...,995.00,658.00,990.00,990.00,872.00,872.00,872.00,872.00,872.00,872.00
mean,498.00,22982412.06,11039537052.04,9187.13,554248.90,386.05,745.72,175610284.79,36886.15,589807.85,...,7081813.92,349079.13,2012.63,15.75,63.63,430387266.75,9.28,224214981.63,26.63,-14.13
std,287.38,17526105.34,14110844376.83,34151.35,1362782.21,1232.24,1944.39,416378166.21,71858.72,1148622.48,...,13797037.61,614355.44,4.51,8.78,26.11,472794722.46,4.89,154687362.71,20.56,84.76
min,1.00,12300000.00,0.00,0.00,1.00,1.00,1.00,1.00,0.00,0.00,...,0.00,1.00,1970.00,1.00,7.60,202506.00,0.75,35588.00,-38.42,-172.10
25%,249.50,14500000.00,4288145410.00,194.50,323.00,11.00,27.00,20137500.00,2700.00,43500.00,...,521750.00,100000.00,2009.00,8.00,36.30,83355411.00,5.27,55908316.00,20.59,-95.71
50%,498.00,17700000.00,7760819588.00,729.00,915.50,51.00,65.50,64085000.00,13300.00,212700.00,...,2600000.00,200000.00,2013.00,16.00,68.00,328239523.00,9.37,270663028.00,37.09,-51.93
75%,746.50,24600000.00,13554701853.00,2667.50,3584.50,123.00,139.75,168826500.00,37900.00,606800.00,...,7300000.00,400000.00,2016.00,23.00,88.20,328239523.00,14.70,270663028.00,37.09,78.96
max,995.00,245000000.00,228000000000.00,301308.00,4057944.00,7741.00,7741.00,6589000000.00,850900.00,13600000.00,...,163400000.00,8000000.00,2022.00,31.00,113.10,1397715000.00,14.72,842933962.00,61.92,138.25

## clean out official channel

In [25]:
def cutoff_video_channel(df):
    return df.loc[df['video views']!=0,:]

non_official = cutoff_video_channel(df)

In [34]:
non_official.loc[df['Country'].isna(),:]

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
14,15,Goldmines,86900000,24118230580.00,Film & Animation,goldmines,1,NaN,NaN,Music,...,NaN,2006.00,Aug,15.00,NaN,NaN,NaN,NaN,NaN,NaN
38,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,32312431239.00,Music,LooLoo Kids - Nursery Rhymes and Children's ï¿½,11,NaN,NaN,NaN,...,NaN,2016.00,Nov,29.00,NaN,NaN,NaN,NaN,NaN,NaN
48,49,Badabun,46800000,19398045702.00,Entertainment,badabun,1,NaN,NaN,Music,...,75.00,2007.00,Jul,21.00,NaN,NaN,NaN,NaN,NaN,NaN
51,52,Bad Bunny,46100000,30686342319.00,Music,badbunny,1,NaN,NaN,Sports,...,NaN,2005.00,Nov,15.00,NaN,NaN,NaN,NaN,NaN,NaN
57,58,BRIGHT SIDE,44500000,10708531817.00,Howto & Style,brightside,0,NaN,NaN,NaN,...,1.00,2005.00,Nov,18.00,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,959,Troom Troom PT,12500000,4384177908.00,Howto & Style,Troom Troom PT,2738,NaN,NaN,Howto,...,NaN,2015.00,Apr,19.00,NaN,NaN,NaN,NaN,NaN,NaN
967,968,Troom Troom Indonesia,12500000,5379684248.00,People & Blogs,TROOM TROOM INDONESIA,8,NaN,NaN,People,...,NaN,2020.00,Jul,29.00,NaN,NaN,NaN,NaN,NaN,NaN
972,973,Hero Movies 2023,12400000,1689090619.00,People & Blogs,Hero Movies 2023,689,NaN,NaN,People,...,NaN,2017.00,Feb,22.00,NaN,NaN,NaN,NaN,NaN,NaN
985,986,TKOR,12400000,3392022527.00,Education,TKoR,0,NaN,NaN,People,...,NaN,2006.00,Aug,16.00,NaN,NaN,NaN,NaN,NaN,NaN
986,987,ANNA KOVA,12400000,13959586308.00,People & Blogs,annakova,1,NaN,NaN,Film,...,NaN,2006.00,Jun,18.00,NaN,NaN,NaN,NaN,NaN,NaN

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [29]:
df.groupby('Country').count()[['rank']].sort_values(by='rank',ascending=False)

                      rank
Country
United States          313
India                  168
Brazil                  62
United Kingdom          43
Mexico                  33
Indonesia               28
Spain                   22
Thailand                18
South Korea             17
Russia                  16
Canada                  15
Argentina               13
Philippines             12
Colombia                11
Saudi Arabia             9
Australia                9
Ukraine                  8
United Arab Emirates     7
Pakistan                 6
Germany                  6
France                   5
Japan                    5
Sweden                   4
Turkey                   4
Netherlands              3
Vietnam                  3
Jordan                   3
Chile                    3
Singapore                3
Italy                    2
Iraq                     2
Egypt                    2
Ecuador                  2
Switzerland              1
Venezuela                1
Afghanistan              1
Samoa                    1
Peru                     1
Morocco                  1
Malaysia                 1
Latvia                   1
Andorra                  1
Finland                  1
El Salvador              1
Cuba                     1
China                    1
Barbados                 1
Bangladesh               1
Kuwait                   1

In [6]:
us_df = df.loc[df['Country']=='United States',:]

In [14]:
nan_df = df.loc[df['Country'].isna(),:]
nan_df

,rank,Youtuber,subscribers,video views,category,Title,uploads,Country,Abbreviation,channel_type,...,subscribers_for_last_30_days,created_year,created_month,created_date,Gross tertiary education enrollment (%),Population,Unemployment rate,Urban_population,Latitude,Longitude
5,6,Music,119000000,0.000000e+00,NaN,Music,0,NaN,NaN,Music,...,NaN,2013.0,Sep,24.0,NaN,NaN,NaN,NaN,NaN,NaN
12,13,Gaming,93600000,0.000000e+00,NaN,Gaming,0,NaN,NaN,Games,...,NaN,2013.0,Dec,15.0,NaN,NaN,NaN,NaN,NaN,NaN
14,15,Goldmines,86900000,2.411823e+10,Film & Animation,goldmines,1,NaN,NaN,Music,...,NaN,2006.0,Aug,15.0,NaN,NaN,NaN,NaN,NaN,NaN
38,39,LooLoo Kids - Nursery Rhymes and Children's Songs,54000000,3.231243e+10,Music,LooLoo Kids - Nursery Rhymes and Children's ï¿½,11,NaN,NaN,NaN,...,NaN,2016.0,Nov,29.0,NaN,NaN,NaN,NaN,NaN,NaN
48,49,Badabun,46800000,1.939805e+10,Entertainment,badabun,1,NaN,NaN,Music,...,75.0,2007.0,Jul,21.0,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
958,959,Troom Troom PT,12500000,4.384178e+09,Howto & Style,Troom Troom PT,2738,NaN,NaN,Howto,...,NaN,2015.0,Apr,19.0,NaN,NaN,NaN,NaN,NaN,NaN
967,968,Troom Troom Indonesia,12500000,5.379684e+09,People & Blogs,TROOM TROOM INDONESIA,8,NaN,NaN,People,...,NaN,2020.0,Jul,29.0,NaN,NaN,NaN,NaN,NaN,NaN
972,973,Hero Movies 2023,12400000,1.689091e+09,People & Blogs,Hero Movies 2023,689,NaN,NaN,People,...,NaN,2017.0,Feb,22.0,NaN,NaN,NaN,NaN,NaN,NaN
985,986,TKOR,12400000,3.392023e+09,Education,TKoR,0,NaN,NaN,People,...,NaN,2006.0,Aug,16.0,NaN,NaN,NaN,NaN,NaN,NaN
986,987,ANNA KOVA,12400000,1.395959e+10,People & Blogs,annakova,1,NaN,NaN,Film,...,NaN,2006.0,Jun,18.0,NaN,NaN,NaN,NaN,NaN,NaN

In [ ]:
df.loc[df['Country']==['United States',],:]

In [7]:
pd.options.display.float_format = '{:.0f}'.format

In [8]:
df[['video views','category']].groupby('category').sum().sort_values(by='video views',ascending=False)

                        video views
category
Music                 3121477506633
Entertainment         2527739309583
People & Blogs        1265791201548
Gaming                 717638899629
Education              696614472899
Comedy                 550112774315
Film & Animation       544422509313
Shows                  446206826909
News & Politics        270391919347
Howto & Style          201817545540
Sports                 147986290620
Science & Technology    66976747110
Pets & Animals          44866745899
Trailers                33262717607
Movies                  15383255129
Autos & Vehicles        15003458141
Nonprofits & Activism   10862911785
Travel & Events          3140883140

In [9]:
view_byvid = df.groupby(['Country','category'])[['video views']].sum()

In [10]:
df.loc[(df['Country']=='India'),:].groupby('category')['video views'].sum()

category
Comedy                  99718638450
Education              179179308515
Entertainment          551343827960
Film & Animation       110125421502
Gaming                   3864199945
Howto & Style           18397094400
Movies                  15383255129
Music                  673625200058
News & Politics        110082745690
People & Blogs         122744120145
Science & Technology    12490209066
Shows                  345677199342
Trailers                33262717607
Name: video views, dtype: float64

In [11]:
def sort_byview(group):
    return group.sort_values(ascending=False)

In [12]:
view_byvid.apply(sort_byview).to_excel('goeda_row.xlsx')

In [25]:
import matplotlib
view_byvid.iloc[2,2:5]

Series([], Name: (Argentina, Comedy), dtype: float64)