In [2]:
import pandas as pd

In [3]:
ls

archive.zip  ass1_dataset.csv  eda.ipynb

In [19]:
import csv
import json

# 读取 CSV 文件
csv_file = 'ass1_dataset.csv'
json_file = 'ass1_dataset.json'

df = pd.read_csv(csv_file,encoding='ISO-8859-1')
df.columns

Index(['rank', 'Youtuber', 'subscribers', 'video views', 'category', 'Title',
       'uploads', 'Country', 'Abbreviation', 'channel_type',
       'video_views_rank', 'country_rank', 'channel_type_rank',
       'video_views_for_the_last_30_days', 'lowest_monthly_earnings',
       'highest_monthly_earnings', 'lowest_yearly_earnings',
       'highest_yearly_earnings', 'subscribers_for_last_30_days',
       'created_year', 'created_month', 'created_date',
       'Gross tertiary education enrollment (%)', 'Population',
       'Unemployment rate', 'Urban_population', 'Latitude', 'Longitude'],
      dtype='object')

In [36]:
df.groupby('Country').count()[['rank']].sort_values(by='rank',ascending=False)[:5]

                rank
Country
United States    313
India            168
Brazil            62
United Kingdom    43
Mexico            33

In [39]:
us_df = df.loc[df['Country']=='United States',:]

In [47]:
pd.options.display.float_format = '{:.0f}'.format

In [ ]:
df[['video views','category']].groupby('category').sum().sort_values(by='video views',ascending=False)

In [82]:
view_byvid = df.groupby(['Country','category'])[['video views']].sum()

In [96]:
df.loc[(df['Country']=='India'),:].groupby('category')['video views'].sum()

category
Comedy                  99718638450
Education              179179308515
Entertainment          551343827960
Film & Animation       110125421502
Gaming                   3864199945
Howto & Style           18397094400
Movies                  15383255129
Music                  673625200058
News & Politics        110082745690
People & Blogs         122744120145
Science & Technology    12490209066
Shows                  345677199342
Trailers                33262717607
Name: video views, dtype: float64

In [85]:
def sort_byview(group):
    return group.sort_values(ascending=False)

In [104]:
view_byvid.apply(sort_byview).to_excel('goeda_row.xlsx')

In [101]:
view_byvid

                              video views
Country       category
Afghanistan   Music           13397000296
Andorra       Howto & Style    2400037562
Argentina     Comedy          28133193747
              Education       11445492404
              Entertainment   17397790938
...                                   ...
United States Sports         115379648832
Venezuela     People & Blogs   9673649438
Vietnam       Comedy           5457203710
              Entertainment    9867515979
              Music            9763592867

[179 rows x 1 columns]