In [2]:
import pandas as pd

In [3]:
df = pd.read_csv('preprocess_project2.csv')

In [4]:
df.head()

   id      County State  Year  Severity  count(Severity)
0   0   Arlington    VA  2020         2              754
1   1    Colleton    SC  2020         3              104
2   2  Georgetown    SC  2020         2              388
3   3     Douglas    OR  2020         2             1709
4   4    Colleton    SC  2020         2              608

In [5]:
df = pd.DataFrame(df.groupby(['State','Year']).sum()['count(Severity)']).reset_index()
df.to_csv('state_data.csv')

In [6]:
mapfips = pd.read_csv('us-state-ansi-fips.csv')

In [7]:
mapfips = mapfips.rename(columns={'stname':'ln_name', ' st':'fipscode', ' stusps':'State'})

In [8]:
mapfips['State'] = mapfips['State'].apply(lambda x:x.replace(' ',''))

In [9]:
mapfips.merge(df,on='State')

          ln_name  fipscode State  Year  count(Severity)
0         Alabama         1    AL  2019            19238
1         Alabama         1    AL  2020            20185
2         Arizona         4    AZ  2019            24529
3         Arizona         4    AZ  2020            29535
4        Arkansas         5    AR  2019              991
..            ...       ...   ...   ...              ...
93  West Virginia        54    WV  2020             1171
94      Wisconsin        55    WI  2019             6889
95      Wisconsin        55    WI  2020             3933
96        Wyoming        56    WY  2019              112
97        Wyoming        56    WY  2020               29

[98 rows x 5 columns]

In [10]:
df.merge(mapfips,on='State').to_csv('state_data.csv',index=False)