In [47]:
import pandas as pd
df = pd.read_csv('adoptable-dogs.csv',index_col=None,usecols=['color_tertiary','age', 'sex', 'status'])

In [50]:
df = df.rename(columns={
    'color_tertiary': 'age',
    'age': 'sex',
    'sex': 'size',
    'status': 'status'
}
)

In [56]:
df = df[df['status'].str.startswith('2019-08')].reset_index()

In [67]:
df['status'] = df['status'].str.replace(r':\d+:\d+\+0000','',regex=True)

In [68]:
df

       level_0     index     age     sex    size      status
0            0  45828975   Young  Female  Medium  2019-08-31
1            1  45828232   Adult  Female   Small  2019-08-31
2            2  45828120   Adult  Female  Medium  2019-08-31
3            3  45821788   Adult    Male   Large  2019-08-31
4            4  45821826  Senior    Male  Medium  2019-08-31
...        ...       ...     ...     ...     ...         ...
11868    11868  45655714   Young    Male  Medium  2019-08-17
11869    11869  45617123   Young    Male  Medium  2019-08-14
11870    11870  45616119   Young    Male  Medium  2019-08-14
11871    11871  45564943   Adult  Female  Medium  2019-08-09
11872    11872  45521300   Adult    Male  Medium  2019-08-06

[11873 rows x 6 columns]

In [72]:
df.groupby(['age','sex','size']).count()['index'].reset_index().to_csv('new_adoptablepet.csv')